<%- include('../partials/partials-main-body-top.ejs') %>

    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="centered-container" style="overflow: auto;">
            <h1>All Users:</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <tr>
                            <td>
                                <%= user.user_id %>
                            </td>
                            <td>
                                <%= user.user_name %>
                            </td>
                            <td><a href="/user/delete/<%= user.user_id %>" class="btn btn-primary">Delete</a></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <a href="/user/delete"><button type="button" class="btn btn-primary" id="btnDeleteAllUsers">Delete
                    All</button></a>
            <a href="/user/register"><button type="button" class="btn btn-primary">Register</button></a>
        </div>
    </div>



    <%- include('../partials/partials-main-body-bottom.ejs') %>