<%- include('../partials/partials-main-body-top.ejs') %>

    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="centered-container">
            <h1>All Users:</h1>
            <ul>
                <% users.forEach(user=> { %>
                    <li>
                        <%= user.user_name %>
                    </li>

                    <a href="/user/delete/<%= user.user_id %>"><button>Delete <%= user.user_id %></button></a>
                    <% }); %>
            </ul>
            <a href="/user/delete"><button type="button" class="btn btn-primary" id="btnDeleteAllUsers">Delete
                    All</button></a>
            <a href="/user/register"><button type="button" class="btn btn-primary">Register</button></a>
        </div>
    </div>



    <%- include('../partials/partials-main-body-bottom.ejs') %>