<!DOCTYPE html>
<html lang="en">


<%- include('../partials/partials-main-body-top.ejs') %>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="centered-container d-flex flex-column justify-content-around">
            <form action="/user/" method="POST" class="forms" name="registrationForm">
                <h1>Register</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" name="username" id="username" placeholder="username" class="form-control"
                        placeholder="Enter Username" autocomplete="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                        autocomplete="current-password">
                </div>
                <button type="submit" class="btn btn-primary" id="formSubmit">Submit</button>
            </form>
        </div>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="centered-container" style="overflow: auto;">
            <h1>All Users:</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <tr>
                            <td>
                                <%= user.user_id %>
                            </td>
                            <td>
                                <%= user.user_name %>
                            </td>
                            <td><a href="/user/delete/<%= user.user_id %>" class="btn btn-primary">Delete</a></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <a href="/user/delete"><button type="button" class="btn btn-primary" id="btnDeleteAllUsers">Delete
                    All</button></a>
        </div>
    </div>
    <%- include('../partials/partials-main-body-bottom.ejs') %>
</html>